/* line 6, /home/aris/go-food/app/assets/stylesheets/carts.scss */
.carts .item_price, .carts .total_line {
  text-align: right;
}
/* line 10, /home/aris/go-food/app/assets/stylesheets/carts.scss */
.carts .total_line, .carts .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/*.foods{

  table{
    border-collapse: collapse;
  }

  table tr td{
    padding: 5px;
    vertical-align: top;
  }

  .list-image{
    width: 60px;
    height: 70px;
  }

  .list_description{
    width: 60%;
    
    dl{
      margin: 0;
    }

    dt{
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd{
      margin: 0;
    }
  }

  .list-actions{
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }
  .list_line_even{
    background: #e0f8f8;
  }
  .list_line_odd{
    background: #60e69a;
  }

}*/
/* line 1, /home/aris/go-food/app/assets/stylesheets/master.scss */
body, body > p, body > ol, body > ul, body > td {
  margin: 8px !important;
}

/* line 3, /home/aris/go-food/app/assets/stylesheets/master.scss */
#banner {
  position: relative;
  min-height: 40px;
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 13, /home/aris/go-food/app/assets/stylesheets/master.scss */
#banner img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 192px;
}

/* line 22, /home/aris/go-food/app/assets/stylesheets/master.scss */
#notice:empty {
  display: none;
}

/* line 26, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns {
  background: #141;
  display: flex;
}
/* line 30, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #main {
  padding: 1em;
  background: white;
  flex: 1;
}
/* line 39, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side {
  padding: 1em 2em;
  background: #141;
}
/* line 45, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 49, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side input {
  font-size: small;
}
/* line 53, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side #cart {
  font-size: smaller;
  color: white;
}
/* line 57, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side #cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* line 64, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side ul {
  padding: 0;
}
/* line 67, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side ul li {
  list-style: none;
}
/* line 70, /home/aris/go-food/app/assets/stylesheets/master.scss */
#columns #side ul li a {
  color: #bfb;
  font-size: small;
}

@media all and (max-width: 800px) {
  /* line 80, /home/aris/go-food/app/assets/stylesheets/master.scss */
  #columns {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 500px) {
  /* line 86, /home/aris/go-food/app/assets/stylesheets/master.scss */
  #banner {
    height: 1em;
  }

  /* line 90, /home/aris/go-food/app/assets/stylesheets/master.scss */
  #banner .title {
    display: none;
  }
}
/* line 97, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders table, .categories table, .buyers table, .foods table {
  border-collapse: collapse;
}
/* line 101, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders table tr td, .categories table tr td, .buyers table tr td, .foods table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 106, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders .list_image, .categories .list_image, .buyers .list_image, .foods .list_image {
  width: 60px;
  height: 70px;
}
/* line 111, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders .list_description, .categories .list_description, .buyers .list_description, .foods .list_description {
  width: 60%;
}
/* line 115, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders dl, .categories dl, .buyers dl, .foods dl {
  margin: 0;
}
/* line 119, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders dt, .categories dt, .buyers dt, .foods dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 125, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders dd, .categories dd, .buyers dd, .foods dd {
  margin: 0;
}
/* line 129, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders .list_actions, .categories .list_actions, .buyers .list_actions, .foods .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 135, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders .list_line_even, .categories .list_line_even, .buyers .list_line_even, .foods .list_line_even {
  background: #e0f8f8;
}
/* line 139, /home/aris/go-food/app/assets/stylesheets/master.scss */
.orders .list_line_odd, .categories .list_line_odd, .buyers .list_line_odd, .foods .list_line_odd {
  background: #60e69a;
}

/* line 145, /home/aris/go-food/app/assets/stylesheets/master.scss */
.carts .item_price, .carts .total_line, #side #cart .item_price, #side #cart .total_line {
  text-align: right;
}
/* line 149, /home/aris/go-food/app/assets/stylesheets/master.scss */
.carts .total_line, .carts .total_cell, #side #cart .total_line, #side #cart .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/* line 5, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form fieldset {
  background: #efe;
}
/* line 7, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form fieldset legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
/* line 14, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form fieldset div {
  margin-bottom: 0.3em;
}
/* line 20, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 29, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form form select, .go_food_form form textarea, .go_food_form form input {
  margin-left: 0.5em;
}
/* line 33, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form form .submit {
  margin-left: 4em;
}
/* line 37, /home/aris/go-food/app/assets/stylesheets/orders.scss */
.go_food_form form br {
  display: none;
}
/* line 1, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/aris/go-food/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories, .store {
  /* An entry in our store catalogue */
}
/* line 6, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories h1, .store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}
/* line 15, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry, .store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}
/* line 21, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry img, .store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 28, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry h3, .store .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}
/* line 37, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry p, .categories .entry div.price_line, .store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 43, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry .price, .store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 3em;
}
/* line 49, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry p, .categories .entry div.price_line, .store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 54, /home/aris/go-food/app/assets/stylesheets/store.scss */
.categories .entry p form, .categories .entry p div, .categories .entry div.price_line form, .categories .entry div.price_line div, .store .entry p form, .store .entry p div, .store .entry div.price_line form, .store .entry div.price_line div {
  display: inline;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

