<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Gopay Credit:</strong>
  <%= @user.gopay %>
</p>

<%= link_to 'Back', store_index_path %>
